{{ define "main" }}
  <main class="cf ph3 ph5-l pv3 pv4-l f4 lh-copy ">
    <header class="home-page-header">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <img alt="LOGO" class="middle" width=500 src="brigit_et_komit_transparent.svg" align="left">
    <div>
      {{ .Content }}
    </div>
  </main>
{{ end }}
